html {
    font-size: 62.5%; // sets base size to 10px
}

body {
    font-size: 1.6rem;
}

h1,
h2,
h3,
p,
.guessContainer,
.playAgain,
.showLetter {
    font-family: $baseFont;
    color: $primaryColor;
    text-shadow:
        2px 2px 0 $secondaryColor,
        -1px -1px 0 $secondaryColor,
        1px -1px 0 $secondaryColor,
        -1px 1px 0 $secondaryColor,
        1px 1px 0 $secondaryColor;
}

h1,
h3 {
    -webkit-text-stroke: 1px $secondaryColor;
    text-shadow:
        3px 3px 0 $secondaryColor,
        -1px -1px 0 $secondaryColor,
        1px -1px 0 $secondaryColor,
        -1px 1px 0 $secondaryColor,
        1px 1px 0 $secondaryColor;
}

h1,
.guessContainer,
.playAgain,
.guessLetter {
    text-transform: uppercase;
}

p,
.guessContainer,
.playAgain,
.guessLetter {
    color: $primaryAccent;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 4rem;
    letter-spacing: 2px;
}

h3 {
    font-size: 8rem;
}


.guessContainer,
.playAgain {
    font-size: 4rem;
}

.guessLetter {
    font-size: 5rem;
}

p {
    font-size: 3rem;
}

.letterButton {
    color: $secondaryColor;
}