html {
    font-size: 62.5%; // sets base size to 10px
}

body {
    font-size: 1.6rem; // 16px is the minimum
    font-family: $baseFont;
}

h1,
h2,
h3,
.guessContainer,
.playAgain,
.showLetter,
.lastGuess {
    font-family: $funFont;
    color: $primaryColor;
    text-shadow:
        2px 2px 0 $secondaryColor,
        -1px -1px 0 $secondaryColor,
        1px -1px 0 $secondaryColor,
        -1px 1px 0 $secondaryColor,
        1px 1px 0 $secondaryColor;
}

h1,
h3 {
    -webkit-text-stroke: 1px $secondaryColor;
    text-shadow:
        3px 3px 0 $secondaryColor,
        -1px -1px 0 $secondaryColor,
        1px -1px 0 $secondaryColor,
        -1px 1px 0 $secondaryColor,
        1px 1px 0 $secondaryColor;
}

h1,
.guessContainer,
.playAgain,
.guessLetter {
    text-transform: uppercase;
}

h1,
h2,
h3,
.letterContainer,
.pAnimate,
.showLetter,
button,
footer {
    text-align: center;
}

.guessContainer,
.playAgain,
.guessLetter,
.lastGuess,
h3 {
    color: $primaryAccent;
}

h1 {
    font-size: 9.5rem;
}

h2,
.guessContainer,
.playAgain {
    font-size: 3.6rem;
    letter-spacing: 2px;
}

i {
    font-size: 3.2rem;
}

h3 {
    font-size: 8rem;
}

.guessLetter {
    font-size: 5rem;
}

.lastGuess {
    font-size: 3rem;
}

.letterButton {
    color: $secondaryColor;
}

footer {
    font-size: 1.6rem;
    font-weight: 700;
    color: $secondaryColor;
}