$primary-text: #fff;
$primary-color: #0c1423;
$secondary-color: #0f614e;
$primary-accent: #86e0f9;

// $headingFont: 'Londrina Shadow', cursive;
$baseFont: 'Francois One', sans-serif;
$subheadingFont: 'Fredericka the Great', cursive;