$primaryColor: #fff;
$secondaryColor: darkblue;//#000;
$primaryAccent: #f7c548;
$backgroundColor: #eeebd3;

$buttonIncorrect: grey;
$buttonCorrect: lightgreen;

// $headingFont: 'Londrina Shadow', cursive;
$baseFont: 'Francois One', sans-serif;
$subheadingFont: 'Fredericka the Great', cursive;