$primaryColor: #fff;
$secondaryColor: darkblue;//#000;
$primaryAccent: #f7c548;
$backgroundColor: #eeebd3;

$buttonIncorrect: grey;
$buttonCorrect: lightgreen;

$funFont: 'Francois One', sans-serif;
$baseFont: 'Raleway', sans-serif;